
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 45 29% 97%;
    --foreground: 0 0% 0%;

    --card: 45 29% 97%;
    --card-foreground: 0 0% 0%;

    --popover: 45 29% 97%;
    --popover-foreground: 0 0% 0%;

    --primary: 0 0% 0%;
    --primary-foreground: 45 29% 97%;

    --secondary: 45 15% 92%;
    --secondary-foreground: 0 0% 0%;

    --muted: 45 15% 92%;
    --muted-foreground: 0 0% 20%;

    --accent: 45 15% 92%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 45 29% 97%;

    --border: 45 15% 85%;
    --input: 45 15% 85%;
    --ring: 0 0% 0%;

    --radius: 0.5rem;

    --sidebar-background: 45 29% 95%;
    --sidebar-foreground: 0 0% 0%;
    --sidebar-primary: 0 0% 0%;
    --sidebar-primary-foreground: 45 29% 97%;
    --sidebar-accent: 45 15% 90%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 45 15% 80%;
    --sidebar-ring: 0 0% 0%;
  }

  .dark {
    --background: 45 29% 97%;
    --foreground: 0 0% 0%;

    --card: 45 29% 97%;
    --card-foreground: 0 0% 0%;

    --popover: 45 29% 97%;
    --popover-foreground: 0 0% 0%;

    --primary: 0 0% 0%;
    --primary-foreground: 45 29% 97%;

    --secondary: 45 15% 92%;
    --secondary-foreground: 0 0% 0%;

    --muted: 45 15% 92%;
    --muted-foreground: 0 0% 20%;

    --accent: 45 15% 92%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 45 29% 97%;

    --border: 45 15% 85%;
    --input: 45 15% 85%;
    --ring: 0 0% 0%;
    --sidebar-background: 45 29% 95%;
    --sidebar-foreground: 0 0% 0%;
    --sidebar-primary: 0 0% 0%;
    --sidebar-primary-foreground: 45 29% 97%;
    --sidebar-accent: 45 15% 90%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 45 15% 80%;
    --sidebar-ring: 0 0% 0%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
